/* .create-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
}

.create-plan-container {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    text-align: center;
    margin-top: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.create-plan-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 

.create-plan-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.create-plan-container p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.create-plan-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-plan-form label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.create-plan-form input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.create-plan-form input:focus {
    border-color: #28a745;
    outline: none;
}

.form-buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.back-arrow-1, .create-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-arrow-1 {
    position: relative;
    top: 70px;
    left: 200px;
    cursor: pointer;
    text-align: center;

}

.back-arrow-container{
    position: relative;
    top: -270px;
    left: -630px;
    cursor: pointer;
    text-align: center;
}


.create-button {
    background-color: #28a745;
    color: white;
    height: 40px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #218838;
}

.form-message {
    margin-top: 20px;
    font-size: 16px;
    color: #d9534f;
}

 .error{
    color: red;
}


@media (max-width: 600px) {
    .create-plan-form input {
        margin-bottom: 15px;
    }

    .form-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .back-arrow-1 {
        left: 20px;
        top: 20px;
    }
} */
