.header-section {
    margin: 0px;
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.projectTitle{
  cursor: pointer;
  margin-top: 3px;
  color: black;
}

#header-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.header-subsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 2px 2px 2px 2px rgb(223, 221, 221);

}

.company-name{
  margin-left: 20px;
}

.company-name h4 {
    padding: 10px;
    color: black;
}

.details {
    display: flex;
    gap: 20px;
    margin: 10px;
    margin-right: 20px;
}

button {
    width: 100%;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background: none;
    cursor: pointer;
    padding: 0px 10px;
}


 @media (max-width: 768px) {
  .header-section {
      height: auto;
  }

  .header-subsection {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
  }

  .company-name h4 {
      font-size: 14px;
      padding: 5px 0;
  }

  .details {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin: 5px 0;
  }

  button {
      font-size: 14px;
      width: auto;
  }
}

@media (max-width: 576px) {
    .header-section {
      height: auto;
      width: 100%;
    }
    .header-subsection {
      flex-direction: column;
      align-items: center;
      padding: 5px 0;
    }
    .company-name h4 {
      font-size: 12px;
      padding: 5px 0;
    }
    .details {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin: 5px 0;
    }
    button {
      font-size: 12px;
      padding: 0px 5px;
    }
  }
  
  @media (max-width: 500px) {
    .company-name{
      font-size: 10px;
    }
    .items-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
    }
    .content-items {
      height: 100px;
      padding: 10px;
    }
    .content-items h4 {
      font-size: 15px;
    }
    .content-items p {
      font-size: 20px;
    }
    .barchart-section,
    .piechart-section {
      margin-top: 5px;
      height: auto;
    }
    .barchart-section canvas {
      margin-left: -100px;
        width: 45% !important;
        height: 70% !important;
    }
    .piechart-section h2{
      margin-left: 200px;
    }

    .piechart-section canvas {
      width: 65% !important;
        height: 65% !important;
        margin-left: 200px;
    }
  }
  
  @media (max-width: 420px) {
    .header-section {
      width: 100%;
    }
    .company-name{
      padding-top: 5px;
    }
  }
  
  @media (max-width: 370px) {
    .main-container {
      padding: 10px;
    }
    .content-items {
      padding: 10px;
    }
    .content-items h4 {
      font-size: 14px;
    }
    .content-items p {
      font-size: 18px;
    }
    .barchart-section,
    .piechart-section {
      margin-top: 5px;
      height: auto;
    }
    .barchart-section canvas,
    .piechart-section canvas {
      width: 100% ;
      height: auto ;
    }
  }
  
  @media (max-width: 320px) {
    main {
      width: 100%;
    }
    .header-section {
      width: 100%;
    }
  }
  